final String secretCognitoPoolId = '';
final String secretCognitoAppClientId = '';
final String secretCognitoUserName = '';
final String secretCognitoPassword = '!';
final String secretCognitoIdentityPoolId =
    '';
final String secretAwsRegion = 'eu-west-1';
final String secretIotCoreMqttEndpoint =
    '';
final String secretIotCoreHttpEndpoint =
    '';
final String secretStationCode = 'QWERTY123';
final String thingType = 'vullow-station-dev';